<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        <link href="~/Icon.png" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Scripts.Render("~/bundles/jquery")
        <!--@Styles.Render("~/Content/css")-->
        @Scripts.Render("~/Content/js")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <header>            
                <div style="height : 30px">
                    <nav style="display:inline">
                        @RenderSection("navigation", required: true)
                    </nav>
                    <section id="login" style="display : inline; position:absolute; right : 15px">
                        @Html.Partial("_LoginPartial")
                    </section>
                </div>            
        </header>
        <div id="body">            
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - @((User.Identity.IsAuthenticated)?"Registered":"Unregistered")</p>
                </div>
            </div>
        </footer>

        @RenderSection("scripts", required: false)
    </body>
</html>
