@model TaskManager.Models.RegisterModel

@section navigation{
    @Html.Partial("_Navigation")
}

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    <fieldset style="display : inline">
        <legend>Registration Form</legend>
        <table>
        <tr>
               <td>@Html.LabelFor(m => m.Login)</td>
               <td>@Html.TextBoxFor(m => m.Login)</td>
               <td>@Html.ValidationMessageFor(m => m.Login)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.Email)</td>
                <td>@Html.TextBoxFor(m => m.Email)</td>
                <td>@Html.ValidationMessageFor(m => m.Email)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.Password)</td>
                <td>@Html.PasswordFor(m => m.Password)</td>
                <td>@Html.ValidationMessageFor(m => m.Password)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.ConfirmPassword)</td>
                <td>@Html.PasswordFor(m => m.ConfirmPassword)</td>
                <td>@Html.ValidationMessageFor(m => m.ConfirmPassword)</td>
            </tr>
        </table>
        <input type="submit" value="Register" />
    </fieldset>
}

@section Scripts {
   @Scripts.Render("~/bundles/jqueryval")
}