@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript"
   src="@Url.Content("~/Scripts/Admin/GetRolesAjax.js")">
</script>

@model TaskManager.Models.RegisterModel

<b><p>Roles:</p></b>

@{
    bool first = true;
    foreach(var role in (string[])ViewBag.roles)
    {
        @Html.RadioButton("roles", role, first)
        <span>@role</span> <br />
        first = false;
    }
}

@using (Html.BeginForm("Index", "CreationUser", FormMethod.Post, new { id = "registrForm" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Registration Form</legend>
        <ul>
            <li>
                @Html.LabelFor(m => m.Login)
                @Html.TextBoxFor(m => m.Login)
            </li>
            <li>
                @Html.LabelFor(m => m.Email)
                @Html.TextBoxFor(m => m.Email)
            </li>
            <li>
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
        </ul>
        <input type="submit" value="Register Account" />
    </fieldset>
    @section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    }
}