@{
    ViewBag.Title = "See role of user";
}
<script type="text/javascript"
   src="@Url.Content("~/Scripts/Admin/GetUsersOrRolesAjax.js")">
</script>
<script type="text/javascript"
   src="@Url.Content("~/Scripts/Admin/SeeUser.js")">
</script>

@section navigation{
    @Html.ActionLink("Back", "Index", "UserRoles", null, new { style = "margin-right : 20px"})
    @Html.Partial("_Navigation")
}

@if (null==ViewBag.roles)
{
    using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <b>@ViewBag.message</b><br>

        <br><b>Enter Login of account you want:</b>
        @Html.TextBox("userLogin", null, new { id = "searchName" })
        <input id="selectRole" type="submit" value="Enter">
        <div id="users" hidden="hidden">
            First <span></span> mathces:<br>
            <ul>
            </ul>
        </div>
    }
    <div id="roleinfo">
     <b></b>
     <div id="roles" hidden="hidden">       
        <span></span>
        <ul>
        </ul>
     </div>
    </div>
}
else
{
    if (((string[])ViewBag.roles).Length == 0){ <span>No account with Login @ViewBag.login</span>}
    else{
        <span>Roles for @ViewBag.login:</span>
        <ul>        
        @foreach(var role in (string[])ViewBag.roles){
            <li>@role</li>
        }
        </ul>
    }
}