@{    
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using TaskManager.Models;
@model IEnumerable<TaskUserModel>

@if (String.Empty == ViewBag.taskTitle)
{
    <div id="users">
    @using (Html.BeginForm((string)ViewBag.GetFirst, "TaskViewer", FormMethod.Post, new { id = "userSelecet" }))
    {
        bool first = true;
        foreach (var task in Model)
        {
            @Html.RadioButton("taskId", task.TaskId, first)
            @task.TaskTitle<br>
            first = false;
        }
        if (first) {<h2>No tasks</h2> }
        else {<input type="submit" value="Select" />}
    }
    </div>
}
else
{    
    <h2>Give @ViewBag.taskTitle to:</h2>
    using (Html.BeginForm((string)ViewBag.GetSecond, "TaskViewer", FormMethod.Post, new { id = "taskSelecet" }))
    {
        @Html.TextBox("taskId", (Guid)ViewBag.taskId, new { hidden =  "hidden"})
        bool userExist = false;        
        foreach (var userTask in Model)
        {           
            @Html.CheckBox("Guid-"+userTask.UserId.ToString())
            @userTask.UserLogin<br>
           userExist = true;
        }
       if (userExist) 
       {           
           <input type="submit" value="Select"/> 
       }
       else { <h2>There are no users to tasks</h2> }
    }

}