@{
    ViewBag.Title = "CreateTask";
}

@model TaskManager.Models.TaskModel

@section navigation{
    @Html.ActionLink("Back", "Index", "TaskEditor", null, new { style = "margin-right : 20px"})
    @Html.Partial("_Navigation")
}

@using (Html.BeginForm("CreateTask","TaskEditor",FormMethod.Post)) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    <fieldset style="display : inline">
        <legend>Enter task below</legend>
        <p>
           @Html.LabelFor(m => m.Title)<br>
           @Html.TextBoxFor(m => m.Title)           
        </p>
        <p>
           @Html.LabelFor(m => m.Description)<br>
           @Html.TextAreaFor(m => m.Description)
        </p>
        <input type="submit" value="Create task" />
    </fieldset>
}

@section Scripts {
  @Scripts.Render("~/bundles/jqueryval")
}
