@{
    ViewBag.Title = "Task editor";
}

@section navigation{
    @Html.ActionLink("Back", "Index", "Home", null, new { style = "margin-right : 20px"})
    @Html.Partial("_Navigation")
} 

<h2>@ViewBag.message</h2>

@Html.ActionLink("Create task", "CreateTask", "TaskEditor")
<br>
@Html.ActionLink("Edit task", "EditTask", "TaskEditor")
<br>
@Html.ActionLink("Delete task", "DeleteTask", "TaskEditor")